{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}한인업소록{% endblock %}</h1>
{% endblock %}

{% block meta %}
<meta name="title" content="한인업소록 - dmv한인">
<meta name="description" content="버지니아, 매릴랜드, 디씨지역 부근 한인업소록입니다.">
<meta property="og:title" content="한인업소록 - dmv한인">
<meta property="og:description" content="버지니아, 매릴랜드, 디씨지역 부근 한인업소록입니다.">
<meta name="twitter:title" content="한인업소록 - dmv한인">
<meta name="twitter:description" content="버지니아, 매릴랜드, 디씨지역 부근 한인업소록입니다.">
{% endblock %}

{% block content %}
<br>
<div class="container">
{% block business_content %}
{% endblock %}
</div>
{% endblock %}