{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}한인업소록{% endblock %}</h1>
{% endblock %}

{% block meta %}
<meta name="title" content="한인업소록 - dmv한인">
<meta name="description" content="버지니아, 매릴랜드, 디씨지역 부근 한인업소록입니다.">
{% endblock %}

{% block content %}
<br>
<div class="container">
    <form action="{{ url_for('business.search') }}">
        <div class="form-row justify-content-end">
            <div class="col-auto">
                <input class="form-control" type="text" name="biz_name">
            </div>
            <div class="col-auto">
                <button class="btn btn-sm submit-button" type="submit">검색</button>
            </div>
        </div>
    </form>
{% block business_content %}
{% endblock %}
</div>
{% endblock %}