{% extends 'business/business_base.html' %}

{% block title %}한인업소록{% endblock %}

{% block meta %}
<meta name="description" content="버지니아, 매릴랜드, 디씨지역 부근 한인업소록입니다.">
{% endblock %}

{% block business_content %}
    {% for cat1, cat2_list in cat_data.items() %}
        <h4><span class="badge badge-secondary">{{ cat1 }}</span></h4>
            <ul class="nav">
            {% for cat2 in cat2_list %}
                <li class="nav-item">| <a class = "btn" href="{{ url_for('business.business_list', category_id = cat2['category_id']) }}">{{ cat2['category2'] }}</a>&nbsp </li>
            {% endfor %}
            </ul>
        <br>
    {% endfor %}
{% endblock %}