body{
	min-height:100vh;
}
.logo {
	width: 25rem;
    max-width: 100vw;
    padding: 1.5rem;
}

.navbar {
	border-top: 2px solid #EAEAEA;
	border-bottom: 2px solid #EAEAEA;
}

.nav-custom-color li a{
    color: teal;
}
.navbar-toggler-icon{
    color: DarkSeaGreen;
    border: .2rem solid DarkSeaGreen;
    border-radius: 8px;
    width: 50px;
}

.account-info{
    border: .2rem solid DarkSeaGreen;
    border-radius: 8px;
    padding: .3rem;
}

.red {
    color: red;
}

.teal {
    color: teal;
}

.carousel-item-custom{
    padding-bottom: 5rem;
    padding-top: 5rem;
    background-color: gray;
}

a {
    //color: black;
}

.card {
    margin-bottom: 0.8rem;
}

.clickable-row {cursor: pointer;}

.content-list a{
    color: black;
    text-decoration: none;
}

.content-list{
    margin: 1rem 0rem;
    border-bottom: 1px solid gray;
}
.content-list-img{
    width: 50px;
    height: 50px;
}

.content-row{
    padding: .2rem 1rem;
    border-top: 1px solid gray;
}

.content-row:nth-child(odd){
    background-color: #FAFAFA;
}

.content-row:hover{
    background-color: AliceBlue;
}

.list-row-part1:{
    width: 90%;
}

.review-container{
    border-bottom: 1px solid Gainsboro;
}
.review-row{
    border-top: 1px solid Gainsboro;
}

.text-secondary{
    font-size: 0.9rem;
}

.content-row-left{
    width: 90%;
}

.col-title-container{
    max-width: 80%;
    margin-left: 15px;
}

.col-title{
    overflow: hidden;
    text-overflow: ellipsis;
}


.footer{
    padding: 1rem;
    background-color:#FAFAFA;
}

.submit-button{
    background-color:ForestGreen;
    color: white;
    margin-left: .5rem;
}

.board_search_form{
    margin-bottom: 0.5rem;
}