body{
	height:100vh;
}
.logo {
	margin: 1rem;
	width: 25rem;
}

.navbar {
	border-top: 2px solid #EAEAEA;
	border-bottom: 2px solid #EAEAEA;
	margin-bottom: 1rem;
}

.red {
    color: red;
}

.teal {
    color: teal;
}

.carousel-item-custom{
    padding-bottom: 5rem;
    padding-top: 5rem;
    background-color: gray;
}

a {
    //color: black;
}

.card {
    margin-bottom: 0.8rem;
}