{% extends 'base.html' %}
{% block title %}Admin{% endblock %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <a href="{{ url_for('admin.business_request_list') }}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">업소등록신청</h5>
                        <h6 class="card-subtitle mb-2 text-muted">등록요청 리스트</h6>
                        {% if num_business_request %}
                        <span class="badge badge-pill badge-success">{{ num_business_request }}</span>
                        {% else %}
                        <span class="badge badge-pill badge-secondary">None</span>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{{ url_for('admin.agent_manage') }}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">에이전트 관리</h5>
                        <h6 class="card-subtitle mb-2 text-muted">등록, 삭제</h6>
                        {% if num_agent_request %}
                        <span class="badge badge-pill badge-success">{{ num_agent_request }}</span>
                        {% else %}
                        <span class="badge badge-pill badge-secondary">None</span>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a href="{{ url_for('admin.tip') }}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">TIP 리스트</h5>
                        <h6 class="card-subtitle mb-2 text-muted">확인, 삭제</h6>
                        {% if num_active_tip %}
                        <span class="badge badge-pill badge-success">{{ num_active_tip }}</span>
                        {% else %}
                        <span class="badge badge-pill badge-secondary">None</span>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}