{% extends 'car/car_base.html' %}

{% block title %}{{ car['title'] }}{% endblock %}

{% block meta %}
<meta name="description" content="{{ car['description'] }}">
{% endblock %}

{% block car_content %}
<br>
<center>
    <div class="text-break text-wrap"><h4>{{ car['title'] }}</h4></div>
    {% if car['dealer_id'] == g.user['dealer_id'] %}
    {% if car['on_sale'] %}
    <a href="{{ url_for('car.complete', car_id = car['car_id']) }}" class="btn btn-sm btn-light">판매완료</a>
    {% else %}
    <a href="{{ url_for('car.complete', car_id = car['car_id']) }}" class="btn btn-sm btn-light">거래완료 취소</a>
    {% endif %}
    <a href="{{ url_for('car.modify', car_id = car['car_id']) }}" class="btn btn-sm btn-light">수정</a>
    <a href="#" class="btn btn-sm btn-danger" onclick="delete_confirm()">삭제</a>
    {% elif g.user['admin_flag'] %}
    <a href="#" class="btn btn-sm btn-danger" onclick="delete_confirm()">삭제</a>
    {% endif %}
</center>
<div class="row border border-success estate-margin">
    <div class="col-sm-2 estate-agent-head">
        <b>딜러</b>
    </div>
    <div class="col-sm-10">
        <div class="row justify-content-around">
            <div class="col-4">
                <b>이름</b>
            </div>
            <div class="col-8 pr-0 text-break text-wrap">
                {{ car['name'] }}
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-4">
                <b>회사명</b>
            </div>
            <div class="col-8 pr-0 text-break text-wrap">
                {{ car['company'] }}
            </div>            
        </div>
        <div class="row justify-content-around">
            <div class="col-4">
                <b>이메일</b>
            </div>
            <div class="col-8 pr-0 text-break text-wrap">
                {{ car['email'] }}
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-4">
                <b>전화번호</b>
            </div>
            <div class="col-8">
                {{ car['phone'] }}
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row border border-primary estate-margin">
    <div class="col-sm-2 estate-sales-head">
        <b>매물정보</b>
    </div>
    <div class="col-sm-10 estate-info">
        <div class="row">
            <div class="col-4">
                <b>진행상태</b>
            </div>
            <div class="col-8">
                {% if car['on_sale'] %}
                <span class="text-success"><b>판매중</b></span>
                {% else %}
                <span class="text-danger"><b>거래완료</b></span>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>타입</b>
            </div>
            <div class="col-8">
                {% if car['sale_type'] == 'SALE' %}
                매매
                {% elif car['sale_type'] == 'LEASE' %}
                리스
                {% else %}
                렌트
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>변속기</b>
            </div>
            <div class="col-8">
                {{ car['transmission'] }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>종류</b>
            </div>
            <div class="col-8">
                {{ car['car_type'] }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>제조사</b>
            </div>
            <div class="col-8">
                {{ car['manufacturer'] }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>모델</b>
            </div>
            <div class="col-8">
                {{ car['model'] }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>인승</b>
            </div>
            <div class="col-8">
                {{ car['seat'] }}인승
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>색상</b>
            </div>
            <div class="col-8">
                {{ car['color'] }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>중고여부</b>
            </div>
            <div class="col-8">
                {{ car['used'] }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>VIN 넘버</b>
            </div>
            <div class="col-8">
                {{ car['vin'] }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>마일리지</b>
            </div>
            <div class="col-8">
                {{ car['mileage'] }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>년식</b>
            </div>
            <div class="col-8">
                {{ car['year'] }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>배기량</b>
            </div>
            <div class="col-8">
                {{ car['displacement'] }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>사고횟수</b>
            </div>
            <div class="col-8">
                {{ car['accident'] }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>가격 ($)</b>
            </div>
            <div class="col-8">
                ${{ car['price'] }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>상세설명</b>
            </div>
            <div class="col-8">
                <div class="text-break text-wrap">{{ car['description'] }}</div>
            </div>
        </div>
    </div>
</div>


{% for image in car['image'] %}
    {% if image %}
    <img src="{{ image }}" class="estate-img img-thumbnail" alt="Responsive image">
    {% endif %}
{% endfor %}


{% endblock %}

{% block custom_javascript %}
<script>
    function delete_confirm(){
        if (confirm("삭제하시겠습니까?") == true){
            window.location="{{ url_for('car.delete', car_id=car['car_id']) }}"
        }
    }
</script>
{% endblock %}