{% extends 'car/car_base.html' %}

{% block title %}자동차{% endblock %}

{% block car_content %}
    <br>
    <div class="row justify-content-between">
        <h4 class="col-auto">자동차 리스트</h4>
        {% if g.user['dealer_id'] %}
        <div class="col-auto">
            <a class="btn btn-sm btn-dark" href="{{ url_for('car.create') }}">+ 자동차등록</a>
            <a class="btn btn-sm btn-light" href="{{ url_for('car.mylist') }}">내자동차관리</a>
        </div>
        {% endif %}
    </div>
    {% if cars %}
    <br>
    <div class="car-search border border-success" hidden>
        <form method="post">
            <div class="row justify-content-between">
                <div class="col-sm-10 filter">
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <select class="">
                                <option>---<option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-lg btn-primary">검색</button>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="car-list">
        {% for idx, car in cars.items() %}
        {% if idx % 3 == 0 %}
        <div class="row">
        {% endif %}
            <div class="col-sm-4">
                <a href="{{ url_for('car.detail', car_id = car['car_id']) }}" class="nodeco">
                    <div class="card">
                        {% if car['image'] %}
                        <img src="{{ car['image'] }}" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ car['title'] }}</h5>
                            <div>
                                <span><b>[
                                {% if car['used'] %}
                                중고차
                                {% else %}
                                새차
                                {% endif %}
                                ] </b></span>
                                {% if car['sale_type'] == 'SALE' %}
                                <span class="text-primary"><b>매매</b></span>
                                {% elif car['sale_type'] == 'LEASE' %}
                                <span class="text-info"><b>리스</b></span>
                                {% else %}
                                <span class="text-info"><b>단기렌트</b></span>
                                {% endif %}
                                (
                                {% if car['on_sale'] %}
                                <span class="text-success"><b>판매중</b></span>
                                {% else %}
                                <span class="text-danger"><b>거래완료</b></span>
                                {% endif %}
                                )
                            </div>
                            <div>
                                <b>차종: </b>{{ car['manufacturer'] }} - {{ car['model'] }}
                            </div>
                            <div>
                                <b>가격: </b>$ {{ car['price'] }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% if idx % 3 == 2 %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <center><h5>등록 대기중 입니다.</h5></center>
    {% endif %}
{% endblock %}