<!doctype html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Required meta tags area -->
		<title>{% block title %}{% endblock %} - DMV 한인</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        
		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		
        <!-- Optional JavaScript -->
        
        {% block summernote %}{% endblock %}
        
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
	</head>
	<body>
		<div>
			<div class="row justify-content-center">
				<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='black-logo.png') }}" class="logo" alt="dmvhanin-logo"></a>
			</div>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" href="{{ url_for('business.index') }}">한인업소록</a>
							</li>
                            {% if False %}
                            <li class="nav-item">
								<a class="nav-link" href="{{ url_for('buynsell.index') }}">사고팔기</a>
							</li>
                            {% endif %}
						</ul>
						
						<ul class="navbar-nav justify-content-end">
							{% if g.user %}
                                {% if g.user['admin_flag'] %}
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.index') }}">관리자메뉴</a>
                                {% endif %}
								<li class="nav-item"><a class="nav-link" href="{{ url_for('auth.account_info') }}">{{ g.user['user_id'] }}</a>
								<li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">로그아웃</a>
							{% else %}
								<li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">회원가입</a>
								<li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">로그인</a>
							{% endif %}
						</ul>
						
					</div>
				</div>
			</nav>
			
			<section class="content">
				
                {% for message in get_flashed_messages() %}
                <div class="container">
                    <div class="flash alert alert-info" role="alert">{{ message }}</div>
                </div>
                {% endfor %}
                {% block content %}{% endblock %}
				
			</section>

			<footer>
				<div></div>
			</footer>
		</div>
        
        {% block recaptcha %}{% endblock %}
        
	</body>
</html>