<!doctype html>
<html>
	<head>
        <!-- SEO 및 기타-->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}"/>
        {% block seo %}{% endblock %}
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Required meta tags area -->
		<title>{% block title %}{% endblock %} - DMV 한인</title>
        {% block meta %}{% endblock %}
        <meta name="keywords" content="dmv, 디엠비, 한인, 커뮤니티, 소통, 버지니아, 매릴랜드, 디씨, virginia, maryland, d.c., 지역정보, 한인업소록, 사고팔고, 게시판">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://dmvhanin.com/logo.jpg">
        <meta name="twitter:image" content="https://dmvhanin.com/logo.jpg">
        <meta name="twitter:domain" content="dmv한인">
        
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        
		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		
        <!-- Optional JavaScript -->
        
        {% block summernote %}{% endblock %}
        
        <!-- Google Analytics -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179146561-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-179146561-1');
        </script>

        
	</head>
	<body class="d-flex flex-column">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='logo.png') }}" class="logo" alt="dmvhanin-logo"></a>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm nav-custom-color">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('business.index') }}"><b>한인업소록</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('buynsell.index') }}"><b>사고팔기</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('board.index') }}"><b>게시판</b></a>
                        </li>
                        {% if False %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('house.index') }}"><b>부동산</b></a>
                        </li>
                        {% endif %}
                        {% if False %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('board.index') }}"><b>자동차</b></a>
                        </li>
                        {% endif %}
                    </ul>
                    
                    <ul class="navbar-nav justify-content-end">
                        {% if g.user %}
                            {% if g.user['admin_flag'] %}
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.index') }}">관리자메뉴</a></li>
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ g.user['nickname'] }}{% if g.user['nickname'] != g.user['user_id'] %} ({{ g.user['user_id'] }}){% endif %}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ url_for('auth.account_info') }}">계정설정</a>
                                    <a class="dropdown-item" href="{{ url_for('auth.logout', retUrl = request.path) }}">로그아웃</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}"><b>회원가입</b></a></li>
                            <!--<li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">로그인</a></li>-->
                            
                            <li class="nav-item"><a class="nav-link" data-toggle="modal" href="#loginModal"><b>로그인</b></a></li> 
                            
                            <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">로그인</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post">
                                                <input type="hidden" name="modallogin">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label" for="user_id">아이디</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control "name="user_id" id="user_id" required autofocus>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label" for="password">비밀번호</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control"type="password" name="password" id="password" required>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row justify-content-between">
                                                    <div class="col-auto">
                                                        <a href="{{ url_for('auth.find_id_pwd') }}" class="btn btn-light btn-sm">아이디 / 비밀번호 찾기</a>
                                                    </div>
                                                    <div class="col-auto">
                                                        <input class="btn btn-success btn-sm" type="submit" value="로그인">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        
   
        <section class="content">
            
            {% for message in get_flashed_messages() %}
            <div class="container">
                <div class="flash alert alert-info" role="alert">{{ message }}</div>
            </div>
            {% endfor %}
            {% block content %}{% endblock %}
            
        </section>
        <br>
        <footer class="footer mt-auto py-3 text-secondary">
            <div class="container">
            	<span class="text-muted">&#169; dmvhanin.com All rights reserved.</span>
            </div>
        </footer>
        
        
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        {% block recaptcha %}{% endblock %}

        {% block custom_javascript %}{% endblock %}
        <script>
            $('#loginModal').on('shown.bs.modal', function () {
              $('#user_id').trigger('focus')
            })
        </script>
	</body>
</html>