{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}DC,MD,VA 한인커뮤니티{% endblock %}</h1>
{% endblock %}

{% block meta %}
<meta name="description" content="버지니아, 매릴랜드, 디씨지역 한인 커뮤니티입니다. 한인업소록, 사고팔기, 동네 게시판등 정보를 공유하고 검색하세요.">
<meta property="og:title" content="DC,MD,VA 한인커뮤니티 - dmv한인">
<meta property="og:description" content="버지니아, 매릴랜드, 디씨지역 한인 커뮤니티입니다. 한인업소록, 사고팔기, 동네 게시판등 정보를 공유하고 검색하세요.">
<meta name="twitter:title" content="DC,MD,VA 한인커뮤니티 - dmv한인">
<meta name="twitter:description" content="버지니아, 매릴랜드, 디씨지역 한인 커뮤니티입니다. 한인업소록, 사고팔기, 동네 게시판등 정보를 공유하고 검색하세요.">
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>당신의 비지니스를 응원합니다!</h1>
        <p class="lead">당신의 비지니스를 여러사람에게 알려주세요</p>
        <hr class="my-4">
        <p>비지니스 등록시 장점</p>
            <ul>
                <li>여러사람이 쉽게 검색가능</li>
                <li>최신 비지니스 정보로 업데이트 가능</li>
                <li>프로모션, 행사등 한인들과 소통가능</li>
                
            </ul>
        <a class="btn btn-sm btn-info" href="{{ url_for('business.register_request')}}" role="button">업소등록/수정 신청</a>
    </div>
</div>
{% endblock %}