{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Welcome{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>당신의 비지니스를 응원합니다!</h1>
        <p class="lead">당신의 비지니스를 여러사람에게 알려주세요</p>
        <hr class="my-4">
        <p>비지니스 등록시 장점</p>
            <ul>
                <li>여러사람이 쉽게 검색가능</li>
                <li>최신 비지니스 정보로 업데이트 가능</li>
                <li>프로모션, 행사등 한인들과 소통가능</li>
                <li>본인만의 비지니스 페이지 관리가능</li>
            </ul>
        <a class="btn btn-sm btn-info" href="{{ url_for('business.register_request')}}" role="button">업소등록 신청</a>
    </div>
</div>
{% endblock %}