<hr>
<form method="post">
    <div class="form-group">
        <label for="comment">댓글:</label>
        <div class="form-group row">
            <div class="col-md-11">
                <textarea class="form-control" id="comment" name="comment" rows=3 {% if not g.user %}disabled{% endif %}>{% if not g.user %}로그인이 필요합니다.{% endif %}</textarea>
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary">등록</button>
            </div>
        </div>
    </div>
</form>