{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block meta %}
<meta name="description" content="버지니아, 매릴랜드, 디씨지역 한인 커뮤니티입니다. 한인업소록, 사고팔기, 동네 게시판등 정보를 공유하고 검색하세요.">
{% endblock %}

{% block content %}
    <div class="container">
        <h3><p class="text-center">
        {% if s == 'request' %}
        업소등록 신청을 해주셔서 감사합니다.<br>
        검토후 이메일 답변드리겠습니다.
        {% elif s == 'not_valid_link' %}
        유효하지 않은 링크입니다.
        {% elif s == 'used_veri_acct' %}
        이미 이메일 인증된 계정입니다.
        {% elif s == 'verify' %}
        이메일 인증이 완료되었습니다.
        {% else %}
        ERROR
        {% endif %}
        </p></h3>
    </div>
{% endblock %}