{% extends 'base.html' %}

{% block header %}
	<h1>
    {% block title %}
        {% if board_list[0]['board_category'] =='buynsell' %}
        사고팔기
        {% elif board_list[0]['board_category'] =='board' %}
        게시판
        {% endif %}
    {% endblock %}
    </h1>
{% endblock %}

{% block meta %}
{% if board_list[0]['board_category'] =='buynsell' %}
<meta name="description" content="아이용품, 가구, 전자/가전, 무료나눔, 책/악기, 의류/패션 직거래 장터.">
{% elif board_list[0]['board_category'] =='board' %}
<meta name="description" content="구인구직, 렌트, 튜터링, 홍보/프로모션, 수다방 게시판.">
{% endif %}
{% endblock %}

{% block content %}
<br>
<div class="container">
    <ul class="nav nav-tabs justify-content-center">
        {% for board in board_list %}
        <li class="nav-item">
            <a class="nav-link {% if board_name == board['board_name'] %}active{% endif %}" href="{{ url_for('{}.content_list'.format(board['board_category']), board_name = board['board_name']) }}">{{ board['board_alias']}}</a>
        </li>
        {% endfor %}
        <li class="nav-item">
            <a class="btn btn-secondary" href="{{ url_for('{}.write'.format(board_list[0]['board_category'])) }}">글쓰기</a>
        </li>
    </ul>
</div>
<br>
{% block board_content %}
{% endblock %}

{% endblock %}