{% extends 'board/board_base.html' %}

{% block board_content %}
<div class="container">
    <div class="content-list">
        {% if content_list %}
        {% for content in content_list %}
        <div class="content-row">
            <a href="{{ url_for('{}.content'.format(category), board_name=board_name, board_id=content['board_id']) }}">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <h5>{{ content['title'] }}</h5>
                        <span class="text-secondary">{{ content['user_id'] }} | {{ content['created'] }}</span>
                    </div>
                    <div class="col-auto">
                        <div>
                            {{ content['views'] }}
                        </div>
                        <div class="text-danger">
                            {% if content['count'] %}
                            [{{ content['count'] }}]
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
        <center><h5>게시글이 없습니다.</h5></center>
        {% endif %}
    </div>
</div>
{% endblock %}