{% extends 'board/board_base.html' %}

{% block board_content %}
<div class="container">
    <form class="board_search_form">
        <div class="form-row justify-content-end">
            <div class="col-auto">
                <input class="form-control" type="text" name="search" value={{search}}>
            </div>
            <div class="col-auto">
                <button class="btn btn-sm submit-button" type="submit">검색</button>
            </div>
        </div>
    </form>
    {% if content_list %}
    <div class="content-list">
        {% for content in content_list %}
        <div class="content-row {% if content['notice_flag'] %}notice{% endif %}">
            <a href="{{ url_for('{}.content'.format(category), board_name=board_name, board_id=content['board_id']) }}">
                <div class="row justify-content-between">
                    <div class="col-11 row">
                        {% if category=='buynsell' and content['image_url'] %}
                        <div class="col-auto">
                            <img class="content-list-img" src="{{ content['image_url'] }}">
                        </div>
                        {% endif %}
                        <div class="col" {% if category=='buynsell' and content['image_url'] %}style="max-width:73%;"{% endif %}>
                            <div class="text-truncate">{{ content['title'] }}</div>
                            <span class="text-secondary">{{ content['nickname'] }} | {{ content['created'] }}</span>
                        </div>
                    </div>
                    <div class="col-auto text-right">
                        <div>
                            {{ content['views'] }}
                        </div>
                        <div class="text-danger">
                            {% if content['count'] %}
                            [{{ content['count'] }}]
                            {% endif %}
                        </div>
                    </div>
                    <!--
                    <div class="col-auto col-title-container">
                        <div class="col-title">{{ content['title'] }}</div>
                        <span class="text-secondary">{{ content['user_id'] }} | {{ content['created'] }}</span>
                    </div>
                    <div class="col-auto">
                        <div>
                            {{ content['views'] }}
                        </div>
                        <div class="text-danger">
                            {% if content['count'] %}
                            [{{ content['count'] }}]
                            {% endif %}
                        </div>
                    </div>-->
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_list[0] > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('{}.content_list'.format(category), board_name=board_name, page=1, search=search) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for page in page_list %}
            <li class="page-item {% if curr_page == page %}active{% endif %}">
                {% if curr_page == page %}
                <span class="page-link">
                    {{ page }}
                    <span class="sr-only">(current)</span>
                </span>
                {% else %}
                <a class="page-link" href="{{ url_for('{}.content_list'.format(category), board_name=board_name, page=page, search=search) }}" >{{ page }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>
    {% else %}
    <center><h5>게시글이 없습니다.</h5></center>
    {% endif %}
</div>
{% endblock %}