{% extends 'board/board_base.html' %}

{% block board_content %}
<div class="container">
    <div class="content-list">
        {% if content_list %}
        {% for content in content_list %}
        <div class="content-row">
            <a href="{{ url_for('{}.content'.format(category), board_name=board_name, board_id=content['board_id']) }}">
                <div class="row justify-content-between">
                    <div class="col-auto col-title-container">
                        <div class="col-title">{{ content['title'] }}</div>
                        <span class="text-secondary">{{ content['user_id'] }} | {{ content['created'] }}</span>
                    </div>
                    <div class="col-auto">
                        <div>
                            {{ content['views'] }}
                        </div>
                        <div class="text-danger">
                            {% if content['count'] %}
                            [{{ content['count'] }}]
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        <br>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_list[0] > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('{}.content_list'.format(category), board_name=board_name, page=1) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for page in page_list %}
                <li class="page-item {% if curr_page == page %}active{% endif %}">
                    {% if curr_page == page %}
                    <span class="page-link">
                        {{ page }}
                        <span class="sr-only">(current)</span>
                    </span>
                    {% else %}
                    <a class="page-link" href="{{ url_for('{}.content_list'.format(category), board_name=board_name, page=page) }}" >{{ page }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>
        {% else %}
        <center><h5>게시글이 없습니다.</h5></center>
        {% endif %}
    </div>
</div>
{% endblock %}