{% extends 'auth/auth_base.html' %}

{% block header %}
	<h1>{% block title %}{% block modal_title %}로그인{% endblock %}{% endblock%}</h1>
{% endblock %}

{% block auth_content %}
    <form method="post">
        <input type="hidden" name="required">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="user_id">아이디</label>
            <div class="col-sm-8">
                <input class="form-control"name="user_id" id="user_id" required autofocus>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="password">비밀번호</label>
            <div class="col-sm-8">
                <input class="form-control"type="password" name="password" id="password" required>
            </div>
        </div>
        <hr>
        <div class="row justify-content-between">
            <div class="col-auto">
                <a href="{{ url_for('auth.find_id_pwd') }}" class="btn btn-light btn-sm">아이디 / 비밀번호 찾기</a>
            </div>
            <div class="col-auto">
                <input class="btn btn-success btn-sm" type="submit" value="로그인">
            </div>
        </div>
    </form>
{% endblock %}