{% extends 'estate/estate_base.html' %}

{% block estate_content %}
    <br>
    <div class="row justify-content-between">
        <h4 class="col-auto">부동산 리스트</h4>
        {% if g.user['realtor_id'] %}
        <div class="col-auto">
            <a class="btn btn-sm btn-dark" href="{{ url_for('estate.create') }}">매물등록</a>
            <a class="btn btn-sm btn-light" href="{{ url_for('estate.mylist') }}">내매물관리</a>
        </div>
        {% endif %}
    </div>
    {% if estates %}
    <br>
    <div class="estate-search border border-success" hidden>
        <form method="post">
            <div class="row justify-content-between">
                <div class="col-sm-10 filter">
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <select class="">
                                <option>---<option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-lg btn-primary">검색</button>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="estate-list">
        {% for idx, estate in estates.items() %}
        {% if idx % 3 == 0 %}
        <div class="row">
        {% endif %}
            <div class="col-sm-4">
                <a href="{{ url_for('estate.detail', estate_id = estate['estate_id']) }}" class="nodeco">
                    <div class="card">
                        {% if estate['image'] %}
                        <img src="{{ estate['image'] }}" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ estate['title'] }}</h5>
                            <div>
                                {% if estate['sale_type'] == 'SALE' %}
                                <span class="text-primary"><b>매매</b></span>
                                {% else %}
                                <span class="text-info"><b>렌트</b></span>
                                {% endif %}
                                (
                                {% if estate['on_sale'] %}
                                <span class="text-success"><b>판매중</b></span>
                                {% else %}
                                <span class="text-danger"><b>거래완료</b></span>
                                {% endif %}
                                )
                            </div>
                            <div>
                                <b>지역: </b>{{ estate['city'] }}, {{ estate['state'] }} {{ estate['zipcode'] }}
                            </div>
                            <div>
                                <b>크기: </b>{{ estate['size'] }} sqft
                            </div>
                            <div>
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;방 {{ estate['num_room'] }} / 화장실 {{ estate['num_rest'] }}
                            </div>
                            <div>
                                <b>가격: </b>$ {{ estate['price'] }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% if idx % 3 == 2 %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <center><h5>등록 대기중 입니다.</h5></center>
    {% endif %}
{% endblock %}